html{
  overflow: hidden;
}
body{
  margin: 0;
  padding: 0;
}
#root{
  height: 100vh;
  background-color: #00040e;
  background-color: #212428;
  background-color: #e3ecff;

  background: url('/home/pio/Desktop/adarsh data 5 jan 2024/data 4 jan 2024/adars-Desktop/D drive data/coding/github/portfolio/public/wallpaper1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  /* #000000c2 */
  
  position: absolute;
  overflow: hidden;
  width: 100vw;
}
#root::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #0000007d;
  background: linear-gradient(0deg, black, transparent);
  position: absolute;
}

/* 1st phase */
/* .deco1{
  position: absolute;
  top: -250px;
  right: -160px;
  height: 1040px;
  width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deco2{
  position: absolute;
  bottom: -400px;
  left: -250px;
  height: 820px;
  width: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
} */